.brothers-intro {
  margin: 50px 0;
}

.brothers-are-container {
  display: flex;
}
@media(min-width: 992px) {
  .brothers-are-container {
    margin-left: 35%;
  }
}
@media(max-width: 992px) {
  .brothers-are-container {
    margin-left: 20%;
  }
}

.rotating-text {
  margin-top: 17.5px;
  margin-left: 8px;
  font-size: 24px;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}