.rush-header {
  font-size: 22px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 15px;
}

.rush-subheader {
  color: #2f4f4f;
  font-size: 1.4em;
  padding: 25px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-style: normal;
  white-space: normal;
}

.rush-quote {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  display: block;
  width: 100%;
  padding: 0px;
  text-align: center;
  font-weight: bold;
}

.rush-author{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  display: block;
  width: 100%;
  padding: 0px;
  text-align: center;
  font-weight: bold;
}


.quote-appear {
  color: #2f4f4f;
  position: absolute;
  top: 20vh;
  width: 500px;
  height: auto;
  opacity: 0;
  z-index: 1;
  width: 100%;
}
@media(max-width: 1200px) {
  .quote-appear {
    display: none;
  }
}

.quote-container {
  text-align: center;
  padding-left: 50px;
}

.rush-icons {
  text-align: center;
  font-size: 6em;
}

.rush-subcontent {
  font-size: 10px;
  text-align: center;
  margin-bottom: 40px;
}

.rush-title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #610301;
  white-space: nowrap;
}
@media(max-width: 1500px) {
  .rush-title {
    font-size: 2.5em;
  }
}

.rush-details {
  font-size: 1.8em;
  padding-top: 10px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.01em;
  font-style: normal;
  white-space: normal;
  margin-bottom: 20px;
}

.rush-summary {
  font-size: 1.5em;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 0.01em;
  line-height: 25px;
  font-style: normal;
  white-space: normal;
  width: auto;
}

.rush-image {
  margin: 0;
  height: 100%;
  width: 100%;
  color: #610301;
}

.rush-container {
  padding: 40px;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.rush-divider {
  margin-bottom: 15vh;
}

.carousel-container {
  text-align: center;
  width: 80%;
}


/* Brothers Header */
.rush-landing-header {
  position: relative;
  background: #2f4f4f; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#24f4f4 , #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2f4f4f, #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2f4f4f, #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2f4f4f , #000); /* Standard syntax */
  color: #fff;
  font-size: 45px;
  font-style: italic;
  padding: 25px 0;
}
@media(max-width: 768px) {
  .rush-landing-header {
    font-size: 25px;
    padding: 30px 0;
  }
}

.rush-logo {
  position: absolute;
  left: 5%;
  margin-top: -5px;
}

/* Brothers Main Image */
.rush-image-container {
  position: relative;
  background-color: #000;
  height: 800px;
  z-index: -1;
  margin-bottom: 30px;
}

.rush-image {
  position: absolute;
  opacity: 1;
  object-fit: fill;
  height: 800px;
  z-index: -1;
}
