.element.faq {
  background: crimson; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, crimson, #ffb88c, crimson); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, crimson, #ffb88c, crimson); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, crimson, #ffb88c, crimson); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, crimson, #ffb88c, crimson); /* Standard syntax */
}

.element.faq .title {
  color: #fafafa;
}

/* FAQ Cards */
.faq-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  text-align: left;
  border: none;
}
@media(min-width: 992px) {
  .faq-card {
    margin: 30px 20px;
    max-width: 960px;
  }
}
@media(max-width: 992px) {
  .faq-card {
    margin: 30px 10px;
    max-width: 540px;
  }
  .faq-card:last-child {
    margin-bottom: 0;
  }
} 

/* FAQ Title */
.faq-title {
  font-size: 24px;
  color: #2f4f4f;
  margin-left: 20px;
  margin-right: 20px;
}

/* FAQ Body */
.faq-body {
  font-size: 18px;
  color: #587272;
  margin-left: 20px;
  margin-right: 20px;
}

/* Parallax height */
.parallax-height {
  height: 25vh;
}