.element.messenger {
  position: relative;
  background-color: #fafafa;
}
@media(min-width: 992px) {
  .element.messenger {
    padding-bottom: 200px;
  }
}

/* Messenger Row Margin */
@media(min-width: 1200px) {
  .messenger-row {
    margin: auto 15px;
  }
}

/* Messenger Card */
.messenger-card {
  width: 22em;
  margin: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  border: none;
}

/* Messenger Title */
.messenger-card > .panel-heading {
  background-color: #610301;
  color: #fafafa;
  font-style: italic;
  font-size: 24px;
  text-transform: uppercase;
}

/* Messenger Image */
.messenger-image {
  object-fit: cover;
  object-position: 50% 35%;
  height: 150px;
  width: 150px;
}

/* Messenger Nam */
.messenger-name {
  font-weight: 700;
  color: #2f4f4f;
}

/* Messenger Body */
.messenger-body {
  font-size: 18px;
  color: #587272;
}

/* Messenger Actions */
.messenger-actions {
  display: flex;
  justify-content: space-around;
  margin: 10px 40px;
  margin-top: 20px;
}

/* Messenger Button */
.messenger-button {
  height: 55px;
  width: 55px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}
.messenger-button:hover {
  opacity: 0.7;
}

.messenger-button > i.icon-mail-alt {
  margin-top: 13px;
}
.messenger-button > i.icon-mail-alt:before {
  font-size: 1.8em;
  color: white;
}

.messenger-button > i.icon-temp-messenger {
  margin-top: 11.5px;
}
.messenger-button > i.icon-temp-messenger:before {
  content: "";
  width: 3.0rem; /* Set to your font-size */
  height: 3.0rem; /* Set to your font-size */
  position: relative;
  background: url('./images/facebook-messenger.svg') no-repeat scroll center center/100%;
}

.rose {
  position: absolute;
  height: 250px;
}
@media(max-width: 1200px) {
  .rose {
    height: 200px;
  }
}
@media(max-width: 992px) {
  .rose {
    height: 170px;
  }
}
@media(max-width: 768px) {
  .rose {
    height: 130px;
  }
}

.rose.top-left {
  top: 0;
  left: 0;
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(1, -1);
}
.rose.top-right {
  top: 0;
  right: 0;
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
.rose.bottom-left {
  bottom: 0;
  left: 0;
}
.rose.bottom-right {
  bottom: 0;
  right: 0;
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, 1);
}