.rush-info {
  padding-bottom: 100px;
  overflow: hidden;
}
.rush-header {
  font-size: 22px;
  text-align: center;
  margin: 20px auto;
}

.rush-subheader {
  width: 75%;
  color: var(--secondary-color);
  letter-spacing: 0.01em;
  margin: 20px auto 50px;
  text-align: left;
}
@media (max-width: 768px) {
  .rush-subheader {
    width: 90%;
  }
}

.rush-quote {
  position: relative;
  font-style: italic;
  font-size: 22px;
  display: block;
  width: 100%;
  padding-left: 10px;
  text-align: left;
}

.quote-quotes {
  font-size: 55px;
}

.rush-author {
  display: block;
  position: relative;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
  margin-top: 10px;
  text-align: right;
}

.rush-author p {
  font-style: italic;
}

.quote-image {
  object-fit: cover;
  height: 800px;
  width: 800px;
}
@media (max-width: 768px) {
  .quote-image {
    height: 450px;
    width: 450px;
    margin: auto;
  }
}

.quote-appear {
  color: var(--secondary-color);
  position: absolute;
  top: 3vh;
  opacity: 0;
  z-index: 1;
}
@media (max-width: 1200px) {
  .quote-appear {
    display: none;
  }
}

.rush-icons {
  text-align: center;
  font-size: 6em;
}

.rush-title {
  display: block;
  font-family: 'Helvetica Neue Condensed', sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--primary-color);
  white-space: nowrap;
}
@media (max-width: 1500px) {
  .rush-title {
    font-size: 2.4em;
  }
}
@media (max-width: 575px) {
  .rush-title {
    font-size: 11vw;
  }
}

.rush-details {
  font-size: 1.8em;
  padding-top: 10px;
  display: block;
  font-weight: bold;
  letter-spacing: 0.01em;
  font-style: normal;
  white-space: normal;
  margin-bottom: 20px;
}

.rush-summary {
  font-size: 1.5em;
  display: block;
  font-weight: 200;
  letter-spacing: 0.01em;
  line-height: 25px;
  font-style: normal;
  white-space: normal;
  width: auto;
}

.rush-container {
  padding: 40px;
  height: auto;
  width: 100%;
  overflow: hidden;
}

/* Brothers Header */
.rush-landing-header {
  position: relative;
  background-color: var(--secondary-dark);
  color: #fff;
  font-size: 45px;
  padding: 13px 0;
  font-family: 'Helvetica Neue Condensed' !important;
}
@media (max-width: 768px) {
  .rush-landing-header {
    font-size: 23px;
  }
}
.rush-landing-header:after {
  content: '';
  position: absolute;
  top: 98%;
  left: 50%;
  border-top: solid 50px var(--secondary-dark);
  border-left: solid 80px transparent;
  border-right: solid 80px transparent;
  transform: translateX(-50%);
}

.rush-logo {
  position: absolute;
  top: 10px;
  left: 30px;
}

.rush-image {
  object-fit: cover;
  height: calc(100vh - 105px);
  width: 100%;
}
@media (max-width: 500px) {
  .rush-image {
    height: calc(100vh - 95px);
  }
}

.event-container {
  margin-bottom: 50px;
}

.event-image-container {
  position: relative;
  background-color: #000;
  overflow: hidden;
  margin-bottom: 20px;
}

.event-image {
  object-fit: cover;
  height: 300px;
  width: 100%;
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.event-image.zoom {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.5;
}

.event-info {
  position: absolute;
  color: #fff;
  width: 80%;
  top: 50%;
  left: 50%;
  opacity: 0;
}

.event-info.show {
  opacity: 1;
}

.event-name {
  font-weight: 700;
  font-size: 35px;
  color: var(--primary-color);
}

.event-content {
  font-size: 18px;
  color: var(--secondary-light);
}
