/* Garnett Container */
.garnett {
  position: absolute;
  background-color: #2e2f33;
  color: #fff;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.tt-logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Logo and Title */
.garnett-logo {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 50px;
}
@media(max-width: 768px) {
  .garnett-logo {
    width: 280px;
    margin-bottom: 20px;
  }
}

.garnett-logo img {
  height: 75px;
  margin: auto 0;
}
@media(max-width: 768px) {
  .garnett-logo img {
    height: 50px;
  }
}

.garnett-logo h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media(max-width: 768px) {
  .garnett-logo h1 {
    font-size: 45px;
  }
}

.tt {
  color: var(--primary-color);
}

/* Sign In and Sign Up Toggle Buttons */
.sign-options {
  display: flex;
  justify-content: space-around;
  width: 400px;
  font-size: 18px;
  margin: auto;
}
@media(max-width: 768px) {
  .sign-options {
    width: 300px;
  }
}

.sign-options span {
    cursor: pointer;
  }
.sign-options span:after {
  content: '';
  display: block;
  margin: auto;
  margin-top: 5px;
  height: 2px;
  width: 0;
  background: #960018;
  transition: width .5s ease, background-color .5s ease;
}
.sign-options span.underline:after {
  width: 100%;
}

/* Form Fields */
.garnett-form {
  display: none;
  margin: 50px auto;
}
@media(max-width: 768px) {
  .garnett-form {
    margin: 30px auto;
  }
}

.garnett-form.active {
  display: block;
  animation: fadeIn .5s ease-in forwards;
}

.garnett-input {
  height: 40px;
  width: 40%;
  max-width: 576px;
  font-size: 16px;
  margin: auto;
  border-radius: 20px;
}
@media(max-width: 768px) {
  .garnett-input {
    width: 80%;
  }
}

/* Login and Sign Up Buttons */
.garnett-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40%;
  max-width: 576px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  margin: auto;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 10px, rgba(0, 0, 0, 0.23) 0px 8px 10px;
  cursor: pointer;
}
@media(max-width: 768px) {
  .garnett-button {
    width: 80%;
  }
}
.garnett-button:hover {
  background-color: var(--primary-dark);
}

/* Checkbox */
.checkbox-container label {
  position: relative;
  font-weight: 400;
  margin-bottom: 10px;
}
.checkbox-container span::before,
.checkbox-container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.garnett input[type="checkbox"]{
  display: none;
}

.checkbox-container span.checkbox::before {
  width: 20px;
  height: 20px;
  background-color: #fff;
  left: -35px;
}

.checkbox-container span.checkbox::after {
  content: '\e806';
  font-family: 'fontello';
  font-size: 20px;
  left: -35px;
  top: -4px;
  color: transparent;
  transition: all .2s;
}

input[type="checkbox"]:not(:checked) + label span.checkbox:after {
  opacity: 0;
  transform : scale(0);
}

input[type="checkbox"]:checked + label span.checkbox:after {
  color: #960018;
  opacity: 1;
  transform : scale(1);
}
