.garnett {
  position: absolute;
  background-color: #2e2f33;
  color: #fff;
  height: 100%;
  width: 100%;
}

.tt-logo {
  position: absolute;
  top: 3%;
  left: 3%;
}

.garnett-logo {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: auto;
  margin-top: 75px;
}
@media(max-width: 768px) {
  .garnett-logo {
    width: 280px;
  }
}

.garnett-logo img {
  height: 75px;
  margin: auto 0;
}
@media(max-width: 768px) {
  .garnett-logo img {
    height: 50px;
  }
}

.garnett-logo h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media(max-width: 768px) {
  .garnett-logo h1 {
    font-size: 45px;
  }
}

.garnett-form {
  margin-top: 100px;
  margin-bottom: 50px;
}
@media(max-width: 768px) {
  .garnett-form {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.garnett-input {
  height: 40px;
  width: 40%;
  margin: auto;
  border-radius: 20px;
}
@media(max-width: 768px) {
  .garnett-input {
    width: 80%;
  }
}

.garnett-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b22222;
  color: #fff;
  height: 40px;
  width: 40%;
  font-size: 14px;
  margin: auto;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 10px, rgba(0, 0, 0, 0.23) 0px 8px 10px;
}
@media(max-width: 768px) {
  .garnett-login {
    width: 80%;
  }
}