.contact-us {
  padding: 20px;
}

.contact-title {
  margin-top: 0px;
}

.contact-button {
  background-color: rgba(17, 17, 17, .8);
  color: white;
  font-size: 15px;
  text-decoration: none;
  width: fill;
}

.contact-button:hover {
  background: rgba(10, 10, 10, .9);
  color: white;
  text-decoration: none;
}

.form-border {
  padding: 30px;
}

.contact-container {
  height: 250px;
  width: fill;
  position: relative;
  overflow: hidden;
}

.sent-container {
  height: 250px;
}

.sent-text {
  vertical-align: middle;
  line-height: 250px;
  font-style: italic;
}