/* Brothers Header */
.brothers-header {
  position: relative;
  background-color: var(--secondary-dark);
  color: #fff;
  font-size: 45px;
  font-style: italic;
  padding: 25px 0;
}
@media(max-width: 768px) {
  .brothers-header {
    font-size: 25px;
    padding: 30px 0;
  }
}
.brothers-header:after {
  content: '';
  position: absolute;
  top: 98%;
  left: 50%;
  border-top: solid 50px var(--secondary-dark);
  border-left: solid 80px transparent;
  border-right: solid 80px transparent;
  transform: translateX(-50%);
}

.brothers-logo {
  position: absolute;
  top: 10px;
  left: 30px;
}
@media(max-width: 768px) {
  .brothers-logo {
    top: 15px;
    left: 15px;
  }
}

/* Brothers Main Image */
.brothers-image-container {
  position: relative;
  background-color: #000;
  height: calc(100vh - 218px);
  z-index: -1;
}
@media(max-width: 992px) {
  .brothers-image-container {
    height: calc(100vh - 199px);
  }
}

.brothers-image {
  display: block;
  position: absolute;
  height: calc(100vh - 218px);
  width: 100%;
  object-fit: cover;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: -1;
}
@media(max-width: 992px) {
  .brothers-image {
    height: calc(100vh - 199px);
  }
}

.brothers-image.selected {
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

/* Search Bar and Dropdown */
.search-bar-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar-col {
  margin-top: 15px;
}

.search-bar {
  border: 2px solid;
  font-size: 20px;
}

.search-dropdown {
  font-size: 20px;
  font-weight: 700;
  margin-top: 13px;
}

/* Brothers List */
.brother-container {
  min-height: 500px;
  font-family: 'Helvetica Neue Condensed';
}
@media(max-width: 768px) {
  .brother-container {
    margin: 0 10px;
  }
}

.brother-info {
  margin-bottom: 20px;
}
@media(max-width: 768px) {
  .brother-info {
    width: 33.33%;
  }
}
@media(max-width: 539px) {
  .brother-info {
    display: inline-block;
    width: 50%;
    float: none;
  }
}

.brother-info h4, .brother-info p {
  margin-bottom: 0;
}

.brother-info h4 {
  font-size: 23px;
}
@media(max-width: 992px) {
  .brother-info h4 {
    font-size: 16.5px;
  }
}

.brother-info p {
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
}
@media(max-width: 992px) {
  .brother-info p {
    font-size: 12px;
  }
}

.option-label {
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
  margin: 0;
}

.option-image {
  height: 150px;
  margin: auto;
}

.brother-image {
  object-fit: cover;
  height: 250px;
  width: 190px;
  margin: auto;
  cursor: pointer;
  border-radius: 6px;
}
@media(max-width: 768px) {
  .brother-image {
    height: 200px;
    width: 150px;
  }
}

/* Modal */

/* Modal Header */
.modal-header {
  background: #9a0000; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #9a0000, #800000, #670000, #561e18); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #9a0000, #800000, #670000, #561e18); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #9a0000, #800000, #670000, #561e18); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #561e18, #670000, #800000, #9a0000); /* Standard syntax */
  color: #fff;
  padding: 25px 0;
  border-radius: 3px 3px 0 0;
}
@media(max-width: 539px) {
  .modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    padding-top: 50px;
  }
}

.modal-title {
  font-family: 'Helvetica Neue Condensed';
  text-align: center;
}
@media(min-width: 539px) {
  .modal-title {
    font-size: 50px;
  }
}
@media(max-width: 539px) {
  .modal-title {
    font-size: 30px;
  }
}

/* Modal Image */
.modal-image-mobile {
  display: none;
}
@media(max-width: 539px) {
  .modal-image-mobile {
    display: block;
    object-fit: cover;
    object-position: 50% 0;
    height: 120px;
    width: 120px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: -40px;
    border: 7px solid #fff;
    border-radius: 50%;
  }
}

.modal-image {
  display: inline-block;
  object-fit: cover;
  vertical-align: baseline;
  height: 400px;
  width: 50%;
  margin-left: 10px;
  border-radius: 6px;
}
@media(max-width: 539px) {
  .modal-image {
    display: none;
  }
}

/* Modal Body */
.modal-body {
  font-family: 'Helvetica Neue Condensed';
}
@media(min-width: 539px) {
  .modal-body {
    display: flex;
    margin: 20px auto;
  }
}
@media(max-width: 539px) {
  .modal-body {
    font-size: 18px;
    margin-top: 50px;
    padding: 0;
    padding-top: 15px;
  }
}

.modal-body > ul {
  margin-bottom: 0;
}
@media(min-width: 539px) {
  .modal-body > ul {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .modal-body > ul > li {
    color: #666;
    font-size: 25px;
  }
  .modal-body > ul > li > h4 {
    color: #610301;
    font-size: 40px;
    font-weight: 700;
  }
}
@media(max-width: 539px) {
  .modal-body > ul > li {
    color: #666;
    border-top: 1px solid #e5e5e5;
    padding: 15px 40px;
  }
  .modal-body > ul > li > h4 {
    color: #000;
    font-size: 15px;
    font-weight: 700;
  }
}

/* Modal Footer */
.modal-footer {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.modal-footer > div {
  height: 60px;
  width: 50%;
  border-bottom-left-radius: 6px;
}
.modal-footer > div:hover {
  background-color: #eee;
}

.modal-footer .close-footer {
  color: #9a0000;
  margin-top: 5px;
  padding-top: 9px;
  padding-bottom: 13px;
  border-right: 2px solid #e5e5e5;
}

.modal-footer > .linkedin-footer {
  color: #007bb6;
  width: 50%;
  padding: 1.5px;
  border-bottom-right-radius: 6px;
}
.modal-footer > .linkedin-footer:hover {
  background-color: #eee;
}

.modal-footer > .linkedin-footer > .icon-linkedin-squared {
  font-size: 2em;
  vertical-align: middle;
  margin-left: 15px;
}

/* Bootstrap List Group Item */
.list-group-item {
  border: none;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}