/* Brothers Header */
.brothers-header {
  position: relative;
  background: #2f4f4f; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#24f4f4 , #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2f4f4f, #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2f4f4f, #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2f4f4f , #000); /* Standard syntax */
  color: #fff;
  font-size: 45px;
  font-style: italic;
  padding: 40px 0;
}
@media(max-width: 768px) {
  .brothers-header {
    font-size: 25px;
    padding: 30px 0;
  }
}
.brothers-header:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -80px;
  width: 0;
  height: 0;
  border-top: solid 50px #000;
  border-left: solid 80px transparent;
  border-right: solid 80px transparent;
}

.brothers-logo {
  position: absolute;
  left: 5%;
  margin-top: -5px;
}

.logo {
  height: 60px;
  width: 60px;
}

/* Brothers Main Image */
.brothers-image-container {
  position: relative;
}

.brothers-image {
  position: absolute;
  top: 16%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: -1;
}
.brothers-image.selected {
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

/* Brothers grid container */
.brothers-grid {
  margin-top: 41%;
}

/* Search Bar and Dropdown */
.search-bar-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar-col {
  margin-top: 15px;
}

.search-bar {
  border: 2px solid;
  font-size: 20px;
}

.search-dropdown {
  font-size: 20px;
  font-weight: 700;
  margin-top: 13px;
}

/* Brothers List */
.brother-container {
  min-height: 500px;
  font-family: 'PT Sans Narrow';
}
@media(max-width: 768px) {
  .brother-container {
    margin: auto 10px;
  }
}

.brother-info {
  margin-bottom: 20px;
}

.brother-info h4,p {
  margin-bottom: 0;
}

.brother-info h4 {
  font-size: 24px;
}
@media(max-width: 992px) {
  .brother-info h4 {
    font-size: 20px;
  }
}

.brother-info p {
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
}
@media(max-width: 992px) {
  .brother-info p {
    font-size: 14px;
  }
}

.option-label {
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
  margin: 0;
}

.option-image {
  height: 150px;
  margin: auto;
}

.brother-image {
  object-fit: cover;
  height: 200px;
  width: 150px;
  margin: auto;
}
.brother-image:hover {
  cursor: pointer;
}

/* Modal */
.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #610c05; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #610c05 , crimson); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #610c05, crimson); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #610c05, crimson); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #610c05 , crimson); /* Standard syntax */
  color: #fff;
  padding-top: 50px;
}
@media(max-width: 768px) {
  .modal-header {
    height: 130px;
  }
}

.modal-title {
  font-size: 24px;
  text-align: center;
}

.modal-image {
  object-fit: cover;
  object-position: 50% 0;
  height: 150px;
  width: 150px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: -90px;
  border: 7px solid #fff;
}
@media(max-width: 768px) {
  .modal-image {
    height: 120px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: -40px;
  }
}

.modal-body {
  font-size: 18px;
  margin-top: 70px;
  padding: 0;
  padding-top: 15px;
}
@media(max-width: 768px) {
  .modal-body {
    margin-top: 50px;
  }
}

.modal-body > ul {
  margin-bottom: 0;
}

.modal-body > ul > li {
  color: #666;
  margin: 0;
  border-top: 1px solid #e5e5e5;
  padding: 20px 40px;
}

.modal-body > ul > li > h4 {
  color: #000;
  font-size: 15px;
  font-weight: 900;
}