.who-we-are-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0px;
}

.pillars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0px;
}

.pillar-card {
  width: 25%;
}

.description {
  width: 33%;
  margin: auto;
}

.class-image {
  object-fit: cover;
  height: 402px;
  width: 600px;
}

@media (max-width: 992px) {
  .pillars {
    margin: 50px 0;
  }
  .pillar-card {
    width: 90%;
    margin: 20px 0;
  }
}

.pillar-card > div {
  width: 100%;
}

/* Card Image */
.card-media {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

/* Card Title */
.pillar-position {
  background-color: #eee;
  margin-bottom: -30px;
  border-bottom: 1px solid #ddd;
}

/* Card Body */
.card-body {
  font-size: 18px !important;
  color: #999 !important;
  margin-top: -30px;
}
