.bigLittle {
    background-image: url(../images/az_beach.jpg);
    width: 100vw;
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center bottom 40%; /* Center horizontally, bottom vertically */
    background-repeat: no-repeat;
    overflow-x: hidden;
}