.gradPic {
    background-image: url(../images/graduation.jpg);
    width: 100vw;
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center bottom; /* Center horizontally, bottom vertically */
    background-repeat: no-repeat;
    overflow-x: hidden;
}
