.navbar {
  background-color: rgba(10, 10, 10, .9);
}

.navbar-fixed-top {
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar-nav {
  padding-top: 28.5px;
}

.navbar-nav li a {
  padding-top: 0px;
  padding-bottom: 0px;
}

#nav-logo {
  transition: opacity 0.2s;
}

.navbar-title {
  font-size: 20px;
  width: 280px;
}

/* Navbar items */
.navbar-collapse > .navbar-right > li {
  text-transform: uppercase;
}

@media(min-width: 768px) {
  .navbar-collapse > .navbar-right > li > a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: 0 0;
    transition: width .5s ease,background-color .5s ease;
  }
  .navbar-collapse > .navbar-right > li > a.underline:after {
    width: 100%;
    background-color: #fff;
  }
}

/* Mobile Nav */
@media(max-width: 768px) {
  /* Mobile nav hamburger*/
  .navbar-toggle {
    margin: auto;
    margin-top: 10px;
    margin-right: 20px;
    color: #fff;
    border: none;
  }
  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
  }

  /* Hamburger Icon */
  #hamburger {
    width: 40px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #hamburger span:nth-child(1) {
    top: 7px;
  }

  #hamburger span:nth-child(2),#hamburger span:nth-child(3) {
    top: 20px;
  }

  #hamburger span:nth-child(4) {
    top: 33px;
  }

  #hamburger.open span:nth-child(1) {
    top: 20px;
    width: 0%;
    left: 50%;
  }

  #hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #hamburger.open span:nth-child(4) {
    top: 20px;
    width: 0%;
    left: 50%;
  }
  
  /* Mobile Nav Hamburger Open */
  .navbar-collapse {
    margin-top: 0;
  }
  .navbar-collapse .navbar-nav {
    position: fixed;
    background-color: #000;
    color: #fff;
    font-size: 45px;
    top: 0;
    left: -1%;
    height: 100%;
    width: 105%;
    margin-top: 80px;
    padding-left: 5%;
    text-align: center;
  }

  /* Mobile Nav List Margin */
  .navbar-collapse .navbar-nav li {
    height: 17%;
  }

  /* Mobile Nav List Color */
  .navbar-collapse .navbar-nav li a {
    color: #fff;
  }

  /* Changes border color to black for mobile nav hamburger open */
  .navbar {
    border: 1px solid #000;
  }
  .navbar-inverse .navbar-collapse {
    border-color: #000;
  }
}

/* Dropdown Menu */
/*.dropdown-toggle {
  background-color: transparent;
  color: #9d9d9d;
  border: none;
}

.btn-group > .btn:hover {
  background-color: transparent;
  color: #fff;
}
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  background-color: transparent;
  color: #9d9d9d;
}

@media(min-width: 768px) {
  .dropdown {
    height: 80px;
    padding: 0 3px;
  }

  .dropdown-toggle {
    margin-top: 1.7em;
  }
  .dropdown:hover .dropdown-menu {
    display: block !important;
    background-color: rgba(10, 10, 10, .9);
    color: #9d9d9d;
    margin-top: -0.15em;
  }

  .dropdown:hover .dropdown-menu a {
    color: #9d9d9d;
  }
  .dropdown:hover .dropdown-menu a:hover {
    background-color: transparent;
    color: #fff;
  }
}

@media(max-width: 768px) {
  .dropdown .dropdown-toggle {
    color: #fff;
    font-size: 45px;
    margin: auto;
  }
}*/
