@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
}

.picture {
  width: auto;
  height: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#title {
  margin: 0;
  line-height: 300%;
  background-color: black;
  color: white;
  border: none;
}

.schedule-title {
  margin: 0;
  font-size: 25px;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

.schedule-subtitle{
  margin: 0;
  font-size: 20px;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.schedule-details{
  margin: 0;
  font-size: 15px;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.rush-container {
  height: 70vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.rush-banner {
  position: cover;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.overlay-text {
  left: 0;
  top: 15%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 99;
}

.rush-title {
  margin: 0;
  color: white;
  border: none;
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
}

.rush-subtitle{
  margin: 15px;
  color: white;
  border: none;
  font-size: 30px;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.rush-promo {
  margin-top: 60px;
  margin-bottom: 25px;
  padding: 20px;
  color: white;
  border: none;
  font-size: 20px;
  display: block;
  font-family: 'Roboto', sans-serif;
}


.rush-button {
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  background-color: Transparent;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.rush-button:focus {
  outline:0;
}

.rush-button:hover {
  background: #ffffff;
  color: black;
  text-decoration: none;
}

.bob {
  font-size: 130%;
  line-height: 300%;
  vertical-align: middle;
  display: inline-block;
}

#fam-pic {
  height: 80%;
  width: 100%;
}

.search-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.top-margin {
  margin-top: 15px;
}

.add-border {
  border: solid;
}

.remove-border {
  border: none;
}

#dropdown {
  margin-top: 13px;
  margin-left: -100px;
  font-size: 20px;
  font-weight: 700;
}

.logo-header {
  font-family: 'Paytone One', sans-serif;
  margin-top: -5px;
  font-weight: 600;
}

/* NavBar */

.navbar {
  background-color: rgba(10, 10, 10, .9);
}

.navbar-fixed-top {
  height: 80px;
}

.navbar-nav li a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 80px;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-toggle {
  margin-top: 23px;
}

@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-collapse {
    margin-top: 15px;
    background-color:rgba(10, 10, 10, .9);
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav-logo {
  height: 50px;
  width: 50px;
}

.navbar-title {
  font-size: 20px;
  width: 280px;
}

/* Landing */

.landing {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

.landing-image {
  position: cover;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: fill;
}

/* Footer */

.footer-padding {
  padding-bottom: 20px;
}

.widget {
  color: white;
  font-size: 12px;
}

.widget-header {
  font-size: 20px;
  border-bottom: 1px dotted white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.media-icons {
  border-top: 1px solid #aaa;
  padding: 10px;
}

.footer-p {
  font-size: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.footer-ul {
  font-size: 15px;
}

/* Used for list in the footer TODO: assign names */
li {
  padding-bottom: 0px;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #aaa;
}

a:hover, a:active {
  text-decoration: none;
  color: white;
}

/* Messenger */

.messenger-image {
  border: 1px solid black;
  height: 50%;
  width: 50%;
}

/* Contact Us */

.contact-us {
  padding: 20px;
}

.contact-title {
  margin-top: 0px;
}

.contact-button {
  background-color: rgba(17, 17, 17, .8);
  color: white;
  font-size: 15px;
  text-decoration: none;
  width: fill;
}

.contact-button:hover {
  background: rgba(10, 10, 10, .9);
  color: white;
  text-decoration: none;
}

.form-border {
  padding: 30px;
  border: 1px solid black;
}

.contact-container {
  height: 250px;
  width: fill;
  position: relative;
  overflow: hidden;
}

/* Miscellaneous */

.light-grey {
  color: #aaa;
}

.big-cont {
  height: 50vh;
}

.dark-bg {
  background: rgba(10, 10, 10, .9);
}

.white-text {
  color: white;
}

.standard-pad {
  padding: 20px;
}

html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.carousel-caption {
    top: 40%;
    bottom: auto;
}