@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Not working after router change */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
}

@media(max-width: 410px) {
  h1 {
    font-size: 32px;
  }
}

.picture {
  width: auto;
  height: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.element {
  padding: 100px 0;
}

.title {
  margin: 0 10%;
}

.header {
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

@media(min-width: 992px) {
  .col-md-5th {
    width: 20%;
  }
}

.logo {
  height: 60px;
  width: 60px;
}

#title {
  margin: 0;
  line-height: 300%;
  background-color: black;
  color: white;
  border: none;
}
.padding-0{
  padding-right:0;
  padding-left:0;
  margin: 0;
}

.max-size {
  width: 100%;
  height: 100%;
}

.bob {
  font-size: 130%;
  line-height: 300%;
  vertical-align: middle;
  display: inline-block;
}

#fam-pic {
  height: 80%;
  width: 100%;
}

/* Used for list in the footer TODO: assign names */
li {
  padding-bottom: 0px;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #aaa;
}

a:hover, a:active {
  text-decoration: none;
  color: white;
}

/* Miscellaneous */

.light-grey {
  color: #aaa;
}

.big-cont {
  height: 50vh;
}

.dark-bg {
  background: rgba(10, 10, 10, .9);
}

.white-text {
  color: white;
}

.standard-pad {
  padding: 20px;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.carousel-caption {
    top: 40%;
    bottom: auto;
}
