@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: 'Helvetica Neue Condensed';
  src: url('shared/fonts/HelveticaNeue-Condensed.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue Condensed';
  src: url('shared/fonts/HelveticaNeue-CondensedBold.otf');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}
