.landing {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

.landing-image {
  position: cover;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: fill;
}

.landing-gradient{
  position:relative;
  display:inline-block;
}
.landing-gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/*@media(min-width: 992px) {
  .landing-image {
    height: 100vh;
    width: 100vw;
  }
}
@media(max-width: 992px) {
  .landing-image {
    height: 800px !important;
  }
}
@media(max-width: 768px) {
  .landing-image {
    height: 500px !important;
  }
}*/

.brothers-are {
  position: absolute;
  top: 0;
  margin-top: -20%;
}

.quote-container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.active-quote {
  position: absolute;
  right: 2em;
  bottom: 2em;
}

.active-image {
  height: 150px;
  width: 150px;
}