.landing {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

.landing-image {
  position: cover;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: stretch;
}

.landing-gradient{
  position:relative;
  display:inline-block;
}
.landing-gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.35) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.35) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/*@media(min-width: 992px) {
  .landing-image {
    height: 100vh;
    width: 100vw;
  }
}
@media(max-width: 992px) {
  .landing-image {
    height: 800px !important;
  }
}
@media(max-width: 768px) {
  .landing-image {
    height: 500px !important;
  }
}*/

/* Rotating Text */
/*.rotating-text {
  font-size: 70px;
  margin-left: 0.2em;
  z-index: 10;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}*/

/* Rotating Text */
.word {
  position: absolute;
  display: flex;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}
.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
  transform: rotateX(-90deg);
}
.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.blue {
  color: #2980b9;
}

.red {
  color: #c0392b;
}

.green {
  color: #16a085;
}

/* Brothers Are */
.brothers-are {
  position: absolute;
  display: flex;
  top: 10%;
  left: 20%;
  color: #fff;
  z-index: 10;
}

.brothers-are-text {
  display: inline-block;
  font-size: 70px;
}

/* Members Button */
.members-button-container {
  position: absolute;
  top: 25%;
  left: 30%;
  z-index: 1;
}

.members-button {
  background-color: #777;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 22px;
  font-weight: 900;
  padding: 10px 10px;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
.members-button:hover {
  background-color: #666;
  color: #fff;
}

.members-button .glyphicon {
  font-size: 15px;
  margin-left: 5px;
}

/* Quote */
.quote-container {
  position: absolute;
  right: 35%;
  bottom: 35%;
  color: #fff;
  z-index: 1;
}

.quote {
  position: absolute;
  height: 300px;
  width: 500px;
  opacity: 0;
}
.quote p {
  font-size: 20px;
  font-weight: 300;
  margin-left: 1em;
  text-align: left;
}

.quote-text-group {
  display: flex;
  justify-content: center;
  align-items: start;
}

.quote-quotes {
  font-size: 70px;
  margin-top: -0.45em;
}

.quote-active-group {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}
.quote-active-labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  text-align: right;
}
.quote-active-labels h3 {
  font-size: 30px;
  margin: 0;
}
.active-image {
  height: 120px;
  width: 120px;
}

/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

  .carousel-fade .next.left,
  .carousel-fade .prev.right,
  .carousel-fade .item.active { opacity: 1; }

  .carousel-fade .active.left,
  .carousel-fade .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
    }


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}




/* Carousel Control custom */
.carousel-control .control-icon {
  font-size: 48px;
  height: 30px;
  margin-top: -15px;
  width: 30px;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 5;
  }
  .carousel-control .prev { margin-left:  -15px;  left: 50%; } /* Prev */
  .carousel-control .next { margin-right: -15px; right: 50%; } /* Next */


/* Removing BS background */
.carousel .control-box { opacity: 0; }
a.carousel-control.left  { left: 0; background: none; border: 0;}
a.carousel-control.right { right: 0; background: none; border: 0;}


/* Animation */
.control-box, a.carousel-control, .carousel-indicators li {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;   
  /* hardware acceleration causes Bootstrap carousel controlbox margin error in webkit */
  /* Assigning animation to indicator li will make slides flicker */
  } 


/* Hover animation */
.carousel:hover .control-box { opacity: 1; }
.carousel:hover a.carousel-control.left { left: 15px; }
.carousel:hover a.carousel-control.right { right: 15px; }  


/* Carouse Indicator */
.carousel-indicators li.active,
.carousel-indicators li { border: 0; }

.carousel-indicators li {
  background: #666;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  }

.carousel-indicators li.active {
  background: #fff;
  margin: 0 3px;
  }