.rush-steps {
   display: block;
   padding: 10px;
   color: black;
   display: block;
}

.rush-step-icon {
  font-size: 25px;
  margin-bottom: 5px;
}

.step-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 10px;
}

.step-details {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.01em;
  display: block;
}

.step-break {
  width: 40%;
  color: black;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.rush-header {
  font-size: 22px;
  text-align: left;
  margin-bottom: 50px;
  margin-left: 15px;
}

.rush-subheader {
  font-size: 1.4em;
  padding-top: 10px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-style: normal;
  white-space: normal;
  margin-bottom: 20px;
}

.rush-subcontent {
  font-size: 10px;
  text-align: left;
  margin-bottom: 40px;
  height: 25vh;
}

.rush-title {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.rush-details {
  font-size: 1.8em;
  padding-top: 10px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.01em;
  font-style: normal;
  white-space: normal;
  margin-bottom: 20px;
}

.rush-summary{
  font-size: 1.5em;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 0.01em;
  line-height: 25px;
  font-style: normal;
  white-space: normal;
  width: auto;
}

.rush-image {
  margin: 0;
  height: 100%;
  width: 100%;
}

.rush-container {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20vh;
}