.rush-header {
  margin-bottom: 50px;
}

.rush-step-icon {
  font-size: 30px;
  margin-bottom: 5px;
}

.step-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 10px;
}

.step-details {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.01em;
  display: block;
}

.step-break {
  width: 50%;
  color: black;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.rush-button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #b22222;
}

.rush-button:hover {
  background-color: #b22222;
  color: white;
}

@media (min-width: 992px) {
  .table-row {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 20px;
  }

  .table-row > [class*="col-"] {
    float: none;
    display: table-cell;
    border:2px solid #b22222;
    padding: 10px;
  }
}

@media (max-width: 991px) {
  .rush-steps {
    padding: 10px;
    color: black;
    border:2px solid #b22222;
    margin-bottom: 20px;
 }
}
