.element.rush {
  background-color: #d8deba;
}

.rush-tt {
  color: #d16554;
  font-family: 'Open Sans Condensed';
  font-size: 100px;
  text-transform: uppercase;
}

.rush-slogan {
  color: #fff;
  font-weight: 700;
  font-size: 55px;
}

.rush-process {
  width: max-content;
  color: #2f4f4f;
  font-family: 'Open Sans Condensed';
  font-size: 55px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px 40px;
  border-bottom: 5px solid;
  text-transform: uppercase;
}

.rush-step-icon {
  color: #610301;
  font-size: 30px;
  margin-bottom: 5px;
}

.step-title {
  display: block;
  color: #2f4f4f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.step-details {
  color: #587272;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.01em;
  display: block;
}

.step-break {
  width: 50%;
  color: black;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.rush-button {
  display: inline-block;
  background-color: #610301;
  color: #fff;
  font-size: 20px;
  margin-top: 50px;
  padding: 15px 32px;
  text-decoration: none;
  cursor: pointer;
}

.rush-button:hover {
  background-color: #b22222;
  color: white;
}

@media (min-width: 992px) {
  .table-row {
    display: table;
    border: 4px solid #610301;
  }

  .table-row > [class*="col-"] {
    display: table-cell;
    float: none;
    padding: 10px 30px;
    border-left: 4px solid #610301;
  }
  .table-row > [class*="col-"]:first-child {
    border-left: none;
  }
}

@media (max-width: 991px) {
  .rush-steps {
    padding: 40px 20px;
    color: black;
    border: 4px solid #610301;
    border-bottom: none;
 }
 .rush-steps:last-child {
    border-bottom: 4px solid #610301;
 }
}

@media(min-width: 992px) {
  .step-triangle:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -12.8%;
    width: 40px;
    height: 40px; 
    background: #d8deba;
    border-right: 4px solid #610301;
    border-bottom: 4px solid #610301;
    -moz-transform: rotate(-45deg) translateY(-50%);
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateY(-50%);
    z-index: 1;
  }
}
@media(max-width: 992px) {
  .step-triangle:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3.2%;
    left: 48.5%;
    width: 40px;
    height: 40px; 
    background: #d8deba;
    border-left: 4px solid #610301;
    border-bottom: 4px solid #610301;
    -moz-transform: rotate(-45deg) translateY(-50%);
    -webkit-transform: rotate(-45deg) translateY(-50%);
    transform: rotate(-45deg) translateX(-50%);
    z-index: 1;
  }
}
